 <%= csrf_meta_tags %>
 <br>
 <br>
 <div class="cotainer">
        
        <div class="row justify-content-center">
            <div class="col-md-8">
                <% if flash[:message]%>
                <div class="alert alert-danger" role="alert">
                     <%= flash[:message] %>
                </div>
                <% end %>
                <div class="card">
                    <div class="card-header">Iniciar sesión</div>
                    <div class="card-body">
                        <form action="auth/login" method="post">
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Email</label>
                                <div class="col-md-6">
                                    <input type="email" id="email_address" class="form-control" name="correo" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="pass" required  maxlength="16">
                                </div>
                            </div>


                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Acceder
                                </button>
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                                     Registrarse
                                </button>
                               
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="auth/register" method="post">
                            <div class="form-group row">
                                <label for="nombres" class="col-md-4 col-form-label text-md-right">Nombres</label>
                                <div class="col-md">
                                    <input type="text" id="idnombres" class="form-control" name="nombres" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="apellidos" class="col-md-4 col-form-label text-md-right">Apellidos</label>
                                <div class="col-md">
                                    <input type="text" id="idapellidos" class="form-control" name="apellidos" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Email  :</label>
                                <div class="col-md">
                                    <input type="email" id="idemail" class="form-control" name="email" required autofocus>
                                </div>
                            </div>

                             <div class="form-group row">
                                <label for="pass" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                                <div class="col-md">
                                    <input type="password" id="idpass" class="form-control" name="password" required  maxlength="16">
                                </div>
                            </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
       </form>
    </div>
  </div>
</div>

<script> /*
bootstrapValidate('#idnombres', 'required:Este campo es obligatorio');

bootstrapValidate('#idapellidos', 'required:Este campo es obligatorio');

bootstrapValidate('#idemail', 'email:Ingrese un email válido')

bootstrapValidate('#idpass', 'required:Este campo es obligatorio');*/
</script>