
<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js" ></script>

  </head>


<% if session[:usuario_activo] != nil %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Hola <%= session[:usuario_nombre] %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     
       <form action="/auth/cerrar_sesion" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       <button type="submit" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" >
         Cerrar sesión
       </button>
      </form> 

      <% if session[:tipo_usuario] == "restaurante" %>
      <form action="orders" method="get" style=" margin-left:5px">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       <button type="submit" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" >
         Pedidos
       </button>
      </form> 

      <form action="menu" method="get" style=" margin-left:5px">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       <button type="submit" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" >
         Carta del día
       </button>
      </form> 
      
      <% end %>
          </ul>
  </div>
</nav>                        
      
    <% end %>

  <body>
    <%= yield %>
  </body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</html>
