<% check_session %>
<div class="container">
<br>
<div class="row">
        <div class="col-md-12 text-center">
                        <h4>Seleccione un restaurante</h4>
        </div>
</div>

<div class="restaurante_container">
        
        <% @diners.each do |n|%>
            <div class="card  restaurante_item">
                    <div class="card-body">
                    <form action="menu" method="post">
                    
                    <h5 class="card-title"> <%= n.nombre %> </h5>
                    <p class="card-text">Dirección: <%= n.direccion %></p>
                    <input id="prodId" name="res" type="hidden" value="<%= n.id %>"> 
                    
                    <button type="submit" class="btn btn-primary">Ver carta</button>
                    </form>
                    </div>
            </div>
            <% end %>
</div>



</div>