<% check_session %>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<div class="container">
<br>
<div class="row">
  <div class="col-md-12 text-center">
      <h4>Ordenar</h4>
  </div>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Plato</th>
      <th scope="col">Precio</th>
      <th scope="col">Selección</th>
    </tr>
  </thead>
  <tbody>
  <form action="order" method="post">
  
    <% @menu.dishes.each do |n| %>   
    <tr>
      <th scope="row"> <%= n.descripcion  %> </th>
      <td> S/. <%= n.precio %> </td>
      <td><div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="rbn<%= n.id %> " name="iddish" value="<%= n.id %> " required>
    <label class="custom-control-label" for="rbn<%= n.id %> "></label>
    </div>
    </td>
    <% end %>   

    </tr>
  </tbody>
</table>

<div class="custom-control custom-checkbox" >
        <input id='noDelivery' type='hidden' value='No' name='delivery'>
        <input type="checkbox" class="custom-control-input" id="iddelivery" value="Si" name="delivery" onclick="setDelivery()">
        <span>Delivery </span>
        <label class="custom-control-label" for="iddelivery"></label>
        </div>
        <br>
        <div class="row" id="containerHora">
          <div class="col-md-3">
            <span>Pasaré a recogerlo: </span>
           <input type="number" name="hora" class="form-control"  path="note" min="<%= @atencion[0] %>" max="<%= @atencion[1] %>" value="<%= @atencion[0] %>" />
          </div>
         </div>
  <br>
        <button type="submit" class="btn btn-primary">Ordenar</button>
</form>

</div>

<script>
  function setDelivery(){
    opcion = document.getElementById("iddelivery").checked;
    if(opcion == true){
      document.getElementById('containerHora').style.display = 'none';
     
    }else{
      document.getElementById('containerHora').style.display = 'block';
    }
  }

</script>

