    <% check_session %>
    <div class="container text-center">
    <div class="row">
    
    <div class="col-md-12 text-center">

            <br>
            <h5>Orden completada.</h5>
            <br>
            <p>Por favor use el siguiente codigo QR como comprobante de la orden</p>

            <%= image_tag("codigo.png") %>
    
    
    <form action="download_orden" method="post">
        
            <button type="submit" class="btn btn-primary">Descargar código</button>
            <br>
            <br>
            <a href="/client/diners">Volver</a>
    </form>
    </div>  
</div>
    
</div>