// Place all the styles related to the client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurante_container{
    display:flex;
    flex-wrap: wrap;
    }
    .restaurante_item{
      margin: 10px;
      width: 350px;
    }