<% check_session %>
<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
        <br>
            <h4>Carta del día</h4>
        <br>
        </div>
    </div>

  
    <div class="row">
        <div class="col-md-3">
         <span> Ingrese descripcion del plato: </span>
            <input type="text" class="form-control" id="dish_descripcion" name="descripcion" required>
        </div>
        <div class="col-md-3">
        <span> Precio: </span>
            <input type="text" name="dish_precio" class="form-control" id="idPlatoPrecio" maxlength="5" placeholder="00.00">
        </div>
        <div class="col-md-3">
        <br>
          <button type="submit" class="btn btn-secondary btnEliminar" onclick="agregarPlato()" >
            Agregar
          </button>
        </div>
    </div>

<br>

    <div class="row">
            <div class="col-md-12">
                    <table class="table" >
                            <thead>
                              <tr>
                                <th scope="col">Plato</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Eliminar</th>
                              </tr>
                            </thead>
                            <tbody id="idTablaCarta">
                                 <% @menu.dishes.each do |n| %>
                                 
                              <tr>
                                <th scope="row"><%= n.descripcion %></th>
                                <td>S/. <%= n.precio  %></td>
                                
                                <td><button type="button" class="btn btn-secondary btnEliminar<%= n.id.to_s %>" onclick="eliminarPlato(<%= n.id.to_s %>)" >
                                     Quitar
                                 </button></td>
                              </tr>
                              <% end %>
                            </tbody>
                          </table>
            </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">
        <br>
            <h4>Horario de atención</h4>
        <br>
        </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        <span>Apertura</span>
        <input type="number" name="apertura" value="<%= @schedule[0]%>" min="1" max="12" class="form-control" id="idApertura" maxlength="2"  >
      </div>  
      <div class="col-md-1">
        <span>Cierre</span>
        <input type="number" name="cierre" value="<%= @schedule[1]%>" min="13" max="23" class="form-control" id="idCierre" maxlength="2" >
        </div> 
          <div class="col-md-1">
        <br>
        <button type="submit" class="btn btn-secondary" onclick="actualizarAtencion()" >
            Actualizar
          </button>
        </div> 

        
      
    </div>
</div>

<script>

$("[type='number']").keypress(function (evt) {
    evt.preventDefault();
});

  function eliminarPlato(idp){
    $.post( "/dish/delete_dish", { dishid: idp })
    .done(function( data ) {
      alert( "Plato eliminado");
      $(".btnEliminar"+idp).closest('tr').remove();
    });
  }

  function actualizarAtencion(){
    apertura=$("#idApertura").val();
    cierre = $("#idCierre").val();

    $.post( "/schedule/update_schedule", { ape: apertura, cie: cierre })
    .done(function( data ) {
      alert( data.msg);
    });
  }


    function agregarPlato(){
      des = $("#dish_descripcion").val();
      pre = $("#idPlatoPrecio").val();

    $.post( "/dish/add_dish", {precio: pre, descripcion: des}).done(function( data ) {
      alert("Plato agregado a la carta");
      console.log(data);
      txt = '<tr><th scope="row">'+data.des+'</th>' + '<td>'+"S/. "+data.pre+'</td>'+' <td><button type="button" class="btn btn-secondary btnEliminar'+ data.idp +'" onclick="eliminarPlato('+ data.idp +')">Quitar</button></td> </tr>';
      $("#idTablaCarta").append(txt);
    });
  }

bootstrapValidate('#idPlatoPrecio', 'numeric:Ingrese el formato 00.00');

</script>