<% check_session %>
<div class="container">
    <div class="row ">
        <div class="col-md-12 text-center">
            <br>
            <h4>Pedidos de hoy</h4>
        </div>
    </div>
    <div class="row">
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nro Orden</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Delivery</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Plato</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    <% @orders.each do |n| %> 
                      <tr>
                        <th scope="row"><%= n.id %></th>
                
                        <td>
                            <%= n.client.nombres + " " + n.client.apellidos %></td>
                        <td><%= n.delivery  %></td> 
                        <td><%= n.hora %></td> 
                        <td>
                            <%= Dish.find(n.dish_id).descripcion %>
                             </td>
                            <td><%= n.costo %></td>
                        <td><button type="button" class="btn btn-secondary btnEntregar<%= n.id %>" onclick="entrega(<%= n.id %>)" >
                                Entregado
                           </button></td>
                      </tr>
                    <% end %>
                      
                    </tbody>
                  </table>
    </div>
</div>
<script>

  function entrega(id){
    $.post( "/order/update_order", { orderid: id })
    .done(function( data ) {
      alert( "Pedido entregado");
      $(".btnEntregar"+id).closest('tr').remove();
    });
  }

</script>